<div class="row">
  <div class="col-auto">
    <h2>Welcome {{name}}!, What tech question is on your mind?</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Post:</h3>

    <form class="form new-post-form">
      <div class="form-group row">
        <label for="post-title">post title:</label>
        <input class="form-control" type="text" id="post-title" name="post-title" />
      </div>

      <div class="form-group row">
        <label for="post-desc">description:</label>
        <textarea class="form-control" id="post-desc" name="post-desc"></textarea><br>
      </div>

        <button type="submit" class="btn btn-primary">Create</button>

    </form>
  </div>

  {{#if posts.length}}
  <div class="col-md-6 posts-list">
    <h3 class="postTitle">Current posts:</h3>

    {{#each posts as |post|}}
    <div class="row mb-2 post">
      <a href="/post/{{post.id}}">
      <div class="col-md-8">
        <h4 class = 'postTitle'>{{post.title}}
          <button class="btn btn-sm btn-danger" data-id="{{post.id}}">X</button>
        </h4>
        <p>{{post.description}}</p>
      </div>
      </a>
      </div>

    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/js/profile.js"></script>
